<app-nav-bar></app-nav-bar>
<div class="login container">
  <h2>Log in to your account</h2>
  <form>
    <div class="form-group">
      <app-input
        (titleChanged)='passEmail($event)'
        [name]="'email'"
        [placeholder]="'E-mail Address'"
        [type]="'name'">
      </app-input>

      <app-input
        [name]="password"
        [placeholder]="'Password'"
        (titleChanged)="passPassword($event)"
        [type]="'password'"></app-input>
    </div>
    <button type="submit" (click)="login()" class="btn btn-primary">Save & Log in</button>
    <a routerLink="/register">Register new account</a>
  </form>
</div>
