.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/Weather-Blog-Image.jpg");
  height: 30vh;
  background-size: cover;
  color: #FB1;

  > h1 {
    font-size: 3em;
  }
}

.home-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 2vh;

  > div:last-of-type {
    width: 100%;
  }

  > h2 {
    font-size: 1.6em;
  }

  > input {
    width: 30%;
    margin: 2vh;
  }

  > div:first-of-type {
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin-top: 2vh;

    > div {
      width: 91%;
    }

    p {

    }
  }
}

.cityList {
  > a {
    border-radius: 30px;
    align-items: center;
    font-size: 2rem;
    width: 90%;
    text-align: left;
    margin-top: 3vh;
    background-color: #D8D1B4;
    height: 10vh;
    display: flex;
    text-decoration: none;
    color: #212529;

    p:nth-of-type(2) {
      display: flex;
      height: 50px;
      align-items: center;

      > img {
        height: 50px;
        margin-left: 1.5vw;

      }
    }
  }

  > button {
    width: 6%;
    display: inline-block;
    height: 6vh;
    margin-top: 5vh;
    margin-left: 2%;
    border-radius: 12px;
  }
}
