.logo{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  height:20vh;
  >h1{
    font-size:3em;
  }
}
.home-page{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top:2vh;
  >h2{
    font-size:1.6em;
  }
  >input{
    width:30%;
    margin:2vh;
  }
}
